.paymentContainer {
    height: 100px;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    border-left: 7px solid #FFEF00;
    background-color: #FFF;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.title {
    color: #333;
    font-size: 1.4rem;
    text-align: start;
}

.additionalInfo {
    color: #999;
    margin-top: -1rem;
}

.informationBox {
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-right: 1px solid #CECECE;
}

.informationBox:last-child {
    border-right: none;
}