.card {
    width: 224px;
    height: 330px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    /* background-color: rgb(191, 240, 255); */
    border-radius: 6px;
    border: 1px solid #F1F1F1;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
    transition: 50ms ease;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.card:hover > .productImage {
    filter: opacity(1);
    cursor: pointer;
}

.card:hover > .productInfo {
    display: none;
}

.card:hover > .interactiveBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: #FFF;
    border-top: 1px solid #E7E7E7;
}

.innerBox {
    margin-top: .6rem;
}

.innerBox button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.innerBox button[disabled] {
    cursor: not-allowed;
}

.innerBox p {
    margin-top: .4rem;
}

.productImage {
    height: 80%;
}

.productInfo {
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    align-items: flex-start;
    border-top: 1px solid #E7E7E7;
}

.productPrice {
    font-weight: 600;
    font-size: 1.2rem;
    margin: .6rem 0 0 .8rem;
}

.productName {
    color: #555;
    font-weight: 300;
    margin: .6rem 0 1rem .8rem;
}

.interactiveBox {
    display: none;
    height: 100px;
}

@keyframes fade {
    to {
        opacity: 0;
    }
    from {
        opacity: 1;
    }
}