.sidebar {
    width: 20%;
    height: 820px;
    margin-bottom: 2rem;
}

.sidebar h3 {
    letter-spacing: 2px;
    margin-bottom: 12px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.buttonBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonBox button {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #E1E1E1;
    cursor: pointer;
    font-size: .6rem;
}