.breadcrumb {
    padding: 0;
    margin: 4rem 0 2.25rem 0;
    list-style: none;
    font-size: .8rem;
}

.breadcrumb span {
    margin: 0 .3rem 0 .3rem;
    color: #A1A1A1;
    font-weight: 900;
}

.pathName {
    display: inline-block;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.activeLink {
    color: #A1A1A1;
    font-weight: 400;
}

.activeLink:hover, 
.activeLink:active {
    color: #4682B4;
    text-decoration: underline;
}

.inactiveLink {
    font-weight: 600;
}