.card {
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #7c7c7c;
}

.card input {
    height: 70px;
    width: 60px;
    text-align: center;
    font-size: 1rem;
}

.productImage {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}

.productInfo {
    width: 45%;
}

.productName {
    font-size: 1rem;
    letter-spacing: 1px;
}

.productPrice {
    color: #9C9C9C;
    font-weight: bold;
    font-size: .75rem;
}

.productAmount {
    width: 20%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.productAvailability {
    font-style: italic;
    font-weight: 100;
    font-size: .9rem;
    letter-spacing: 1px;
}

.buttonsGroup {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.button {
    background-color: transparent;
    color: #9C9C9C;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid blueviolet;
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 600;
}