.sortBox {
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid #E1E1E1;
}

.list {
    padding: 0;
}

.list li {
    list-style-type: none;
}

.link {
    height:fit-content;
    text-transform: capitalize;
    margin-bottom: .5rem;
}

.link:hover,
.link:active {
    color: #4682B4;
    text-decoration: underline;
}