.root {
    text-align: right;
    margin: 1rem 0 1rem 0;
}

.linkButton {
    margin-right: .5rem;
    background-color: transparent;
    color: #202020;
    border: 1px solid #F1F1F1;
    cursor: pointer;
}

.linkButton:disabled {
    cursor: auto;
}

.currentButton {
    font-size: .9rem;
    font-weight: 700;
    background-color: #202020;
    color: white;
    cursor: auto;
}

.currentButton:hover {
    text-decoration: none;
}