.root {
    text-align: right;
    margin: 1rem 1rem 1rem 0;
}

.linkButton {
    margin-right: .5rem;
    background-color: transparent;
    color: #505050;
    border: none;
    cursor: pointer;
}

.linkButton:disabled {
    cursor: auto;
}

.linkButton:hover {
    text-decoration: underline;
}

.currentButton {
    font-weight: 700;
    color: #4682B4;
    cursor: auto;
}

.currentButton:hover {
    text-decoration: none;
}