.cartModal {
    /* border: 1px solid red; */
    position: fixed;
    right: 0;
    height: 100vh;
    width: 340px;
    background-color: #1F1F1F;
    color: #FEFEFE;
    animation: slide 250ms alternate;
}

.itemsList {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    /* border: 1px solid red; */
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@keyframes slide {
    from {
        opacity: 1;
        transform: translateX(340px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}